<div class="container">  <div
    class="isotope-layout"
    data-default-filter="*"
    data-layout="masonry"
    data-sort="original-order"
  >
    <ul
      class="portfolio-filters isotope-filters"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <li data-filter="*" class="filter-active">All</li>
      <li data-filter=".filter-competition">Kompetisi</li>
      <li data-filter=".filter-documentation">Dokumentasi Acara</li>
      <li data-filter=".filter-workshop">Workshop</li>
      <li data-filter=".filter-seminar">Seminar</li>
    </ul>
    <!-- End Portfolio Filters -->

    <div
      class="row gy-4 isotope-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-competition">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-1.jpg"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Design Poster Competition</h4>
          <p>20 Juni 2025</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->

      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-competition">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-2.png"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Short Movie Competition</h4>
          <p>27 Juli 2025</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-documentation">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>The Student Ultimate Chess Showdown</h4>
          <p>24 Agustus 2025</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-competition">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-4.png"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Art's City 25</h4>
          <p>4 Oktober 2025</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-workshop">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-5.png"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-info">
          <h4>Introducing Wedding Photography | Workshop</h4>
          <p>23 Oktober 2025</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-seminar">
        <img
          src="assets/img/masonry-portfolio/masonry-portfolio-6.png"
          class="img-fluid"
          alt=""
        />
        <div class="portfolio-coming-soon">
          <h4>SE-LENSA</h4>
          <p>Coming Soon</p>
            <i class="bi bi-zoom-in glightbox preview-link" style="cursor: pointer;"></i>
            <i class="bi bi-link-45deg details-link" style="cursor: pointer;"></i>
        </div>
      </div>
      <!-- End Portfolio Item -->
    </div>
  </div>
</div>
